@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'K2D', sans-serif;
	color: #898989;
}
ul{
	padding-left: 5px;
}
p{
	line-height: 1.4em;
	color: #898989;
	margin-bottom: 0;
}
h5{
	font-weight: 300;
}
a{
	text-decoration: none;
	color: inherit;
}

/* Datatable */
.page-link.active, .active > .page-link {
	background-color: #00AFC6;
	border-color: #00AFC6;
}
.page-link {
	color: #00AFC6;
}
.page-link:hover {
	color: #009fb4;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 15px 0;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 1.2em;
}
div.dataTables_wrapper div.dataTables_filter {
    padding-bottom: 5px;
}

/* Form */
.label-form{
	font-size: 14px;
	color: #898989;
}
.input-form{
	width: 100%;
	border-bottom: 2px solid;
	border-color: #ebebeb;
	outline: none;
	padding: 3px 15px 5px;
	color: #898989;
}
.input-form:focus{
	border-color: #00AFC6;
}
.input-error li{
	list-style: none;
	color: #e70000;
	font-size: 15px;
	font-weight: 600;
}
.create-register{
	color: #00AFC6;
	font-weight: 800;
}
.create select, .update select{
	border: 2px solid #00AFC6;
	border-radius: 30px;
	padding: 7px 30px 10px 20px;
}
.create select, .update select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../storage/app/public/img/arrow-down.png') no-repeat center right 15px;
    padding-right: 40px; /* Adapte de acordo com a largura da imagem */
}
.topo-conteudo select{
	border: 2px solid #fff;
	color: #fff;
	border-radius: 30px;
	padding: 7px 30px 10px 20px;
}
.topo-conteudo select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../../storage/app/public/img/arrow-down-white.png') no-repeat center right 15px;
    padding-right: 40px; /* Adapte de acordo com a largura da imagem */
}

.dataTables_lenght select{
	background: transparent;
}
.photo-form-edit{
	position: absolute;
	left: 43%;
	margin-left: -70px;

	width: 140px;
	height: 140px;
	border: 6px solid #00AFC6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.photo-form-edit img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}


/* Buttons */
.btn1{
	padding: 7px 30px 10px ;
	background-color: transparent;
	border: 2px solid #00AFC6 ;
	border-radius: 30px;
	font-weight: 600;
	font-size: 18px;
	color: #00AFC6;
	transition: .4s;	
}
.btn-small{
	padding: 4px 20px 7px ;
	background-color: transparent;
	border: 2px solid #00AFC6 ;
	border-radius: 30px;
	font-weight: 600;
	font-size: 18px;
	color: #00AFC6;
	transition: .4s;	
}

.btn1:hover, .btn-small:hover{
	background-color: #00AFC6;
	color: #fff;
}
.btn-danger{
	padding: 4px 20px 7px ;
	background-color: transparent;
	border: 2px solid #dc0101 ;
	border-radius: 30px;
	font-weight: 600;
	font-size: 18px;
	color: #dc0101;
	transition: .4s;	
}
.btn-danger:hover{
	background-color: #dc0101;
	color: #fff;
}
.btn-white{
	padding: 4px 20px 7px ;
	background-color: transparent;
	border: 2px solid #fff ;
	border-radius: 30px;
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	transition: .4s;	
}
.btn-white:hover{
	background-color: #fff;
	color: #00AFC6;
}
#menu{
	background-color: #00AFC6;
	position:fixed;
	font-size: 32px;
	top: 15px;
	right: 30px;
	opacity: .8;
	display: none;
	cursor: pointer;
}


/* Guest */
.guest-left{
    height: 100vh;
    background-color:#00AFC6;
}
.guest-container{
	width: 60%;
}
.guest-slot{
	width: 320px;
	padding: 0 15px;
}
.guest-header h1{
	width: 60%;
	font-size: 45px;
	line-height: 41px;
	color: #00AFC6;
	font-weight: 800;
	opacity: .2;
}
.aro{
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: .6;
	width:17vw;
}
.welcome h2{
	width: 320px;
	font-size: 75px;
	color: #fff;
	opacity: .3;
	font-weight: 900;
	line-height: 75px;
	text-align: right;
	margin-top:150px;
}
.brand-logo{
	width: 290px;
	margin-bottom: 40px;
	display: none;
}

/* Topo */
.topo{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 210px;
	background-color: #00AFC6;
	z-index: 3;
}

/* Aside */
.aside{
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100vh;
	background-color: #fafafa;
	border-radius: 0 40px 40px 0 ;
	z-index: 20;
	transition: .4s ease-in-out;
}
.aside-photo-user{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 5px solid #00AFC6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aside-photo-user img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}
.cargo{
	font-weight: 800;
	color: #00AFC6;
	margin-top: -3px;
}
.aside-footer{
	position: absolute;
	bottom: 30px;
	width: 140px;
	display: flex;
	justify-content: space-around;
}
.aside-footer .bi{
	color: #00AFC6;
	font-size: 28px;
	transition: .4s;
	opacity: .4;
}
.aside-footer .bi:hover{
	opacity: 1;
}

/* Topo */
.topo-container{
	margin-top: 40px;
	padding-left: 330px;
	padding-right: 50px;
	width: 100%;
	color: #fff;
	z-index: 10;
}
.topo-sign-out .bi{
	font-size: 16px;
}
.topo-dados{
	width: 600px;
}
.dados-separator{
	display: block;
	width: 1px;
	height: 30px;
	background-color: #fff;
}
.mobile-brand{
	width: 220px;
	margin: 20px 0 0 15px;
	display: none;
}
.topo-decor{
	position: absolute;
	top: 98px;
	left: 0;
	width: 170px;
	opacity: .7;
	display: none;
}

/* Topo Conteudo */
.topo-conteudo{
	position: absolute;
	margin-top: 115px;
	padding-left: 330px;
	margin-right: 50px;
	width: 98%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.topo-conteudo h2{
	color: #fff;
	margin-left: 20px;
	margin-top: 10px;
}
.topo-fixed{
	position: fixed;
	top: 115px;
	left: 0;
	padding-left: 330px;
	width: 98%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.topo-dashboard{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Conteudo */
.container-dashboard{
	margin-top: 325px;	
}
.subtitle{
	color: #00AFC6;
	font-weight: 700;
}
.conteudo{
	position: absolute;
	top: 210px;
	left: 330px;
	right: 50px;
	width: auto;
	z-index: 1;
}

/* Navbar */
.nav-bar{
	margin-top: 50px;
	width: 100%;
}
.nav-bar ul{
	list-style: none;
	padding-left: 0;
}

.nav-bar li{
	padding: 10px 20px 10px 50px;
	width: 250px;
	border-radius: 0 30px 30px 0;
}
.nav-bar a li:hover, .nav-bar a:hover .bi{
	background-color: #fff;
	color: #00AFC6;
	transition: .4s;
}
.nav-bar li .bi{
	font-size: 17px;
	margin-right: 10px;
	transition: .4s;
}
.ativo, .ativo .bi{
	background-color: #fff;
	color: #00AFC6;
	transition: .4s;
}
.ativo::before{
	position: absolute;
	content: "-";
	left: 0;
	margin-top: -9px;
	width: 8px;
	border-radius: 0 10px 10px 0;
	height: 42px;
	background-color: #00AFC6;
	z-index: 2;
}
.nav-sing-out{
	display: none;
}

/* Card Products */
.card-container{
	margin-bottom: 20px;
}
.card-products{
	flex: 1;
	min-height: 360px;
	margin: 0 13px 20px 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	text-align: center;
	background-color: #fff;
	box-shadow: 1px 2px 24px -1px rgba(0,0,0,0.15);
	word-wrap: normal;
}
.card-products p{
	line-height: 16px;
}
.photo-product{
	width: 100%;
}
.photo-product img{
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.title-product p{
	padding: 15px 10px;
	line-height: 20px;
	font-weight: 600;
	font-size: 18px;
}
.price-commission{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.commission-product h3{
	color: #00AFC6;
}

/* Produtos */
.photo-list{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	margin: 4px 0;
}
.photo-list img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.bi-pencil-square{
	font-size: 20px;
	color: #00AFC6;
	margin-right: 7px;
}
.bi-search{
	font-size: 20px;
	color: #deb007;
	font-weight: 900;
	margin-right: 7px;
}
.bi-trash{
	font-size: 20px;
	color:#dc0101;
}
.product-details-header{
	width: 100%;
	background-color:#f9f9f9;
	padding: 30px;
	border-radius: 150px;
}
.product-details-photo{
	width: 230px;
	height: 230px;
	border: 10px solid #00AFC6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-details-photo img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}
.product-details-sold{
	padding-left: 40px;
	padding-right: 20px;
	border-left: 2px dotted #898989;
}
.product-details-sold h5{
	margin-bottom: 0;
}
.product-details-sold h1{
	font-size: 53px;
	color: #00AFC6;
	font-weight: 700;
	margin-bottom: 0;
}
.product-detail-price span{
	font-size: 16px;
	margin-right: 4px;
}
.commission-price{
	font-weight: 600;
	color: #00AFC6;
}
.sale-link{
	color: #00AFC6;
	font-weight: 700;
}

/* Sale Product */
.sale-product-photo{
	width: 200px;
	height: 200px;
	border: 10px solid #00AFC6;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sale-product-photo img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	object-fit: cover;
}
.sale-product-price h3{
	font-weight: 700;
	color: #00AFC6;
}
.product-details-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product-details-content{
	display: flex;
	justify-content: center;
}
.product-detail-price{
	display: flex;
	justify-content: start;
	align-items: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.topo{
		height: 280px;
	}
	.topo-dados{
		flex-direction: column;
		align-items: end!important;
	}
	.topo-conteudo{
		margin-top: 300px !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.topo-container{
		margin-top: 15px;
	}
	.topo-decor{
		display: flex;
	}
	.dados-separator{
		display: none;
	}
	.topo-fixed{
		flex-direction: column;
		align-items: flex-start;
	}
	.photo-form-edit {
		left: 80% !important;
	}
	.product-details-header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.product-details-photo{
		margin-bottom: 20px;
	}
	.product-details-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.product-detail-price{
		justify-content: center;
		margin: 15px 0;
	}
	.product-details-sold{
		border-left: 0;
		border-top: 1px dotted #898989;
		margin-top: 10px;
		padding: 20px 20px;
	}
	.subtitle-show {
		display: none;
	}
	
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.photo-form-edit {
		left: 86%;
	}

  }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
	.aside{
		margin-left: -282px;
	}
	.slide-left{
		margin-left: 0;
		transition: .3s;
	}
	.topo-sign-out a{
		display: none;
	}
	#menu{
		display: flex;
	}
	.nav-sing-out{
		display: flex;
	}
	.mobile-brand{
		display: flex;
	}
	.topo-container{
		padding-left:13vw;
	}
	.topo-conteudo{
		position: relative;
		margin-top: 210px;
		padding-left: 15px;
		margin-right: 20px;
		z-index: 1;
	}
	.topo-conteudo h2{
		color: #009fb4;
		font-weight: 700;
		margin-left: 20px;
		margin-top: 20px;
	}
	.topo-conteudo select{
		border: 2px solid #009fb4;
		color: #009fb4;
	}
	.topo-conteudo select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('../../storage/app/public/img/arrow-down.png') no-repeat center right 15px;
		padding-right: 40px; /* Adapte de acordo com a largura da imagem */
	}
	.topo-fixed{
		position: relative;
		top: 0;
		padding-left: 10px;
		margin-top: 0;
		width:98%;
		z-index: 1;
	}
	.btn-white{
		border: 2px solid #00AFC6 ;
		color: #00AFC6;
		transition: .4s;	
	}
	.btn-white:hover{
		background-color: #00AFC6;
		color: #fff;
	}
	.conteudo{
		position: relative;
		top: 0;
		left: 0;
		width: 98%;
		padding-left: 20px;
	}
	.container-dashboard{
		margin-top: 0px;
	}
	.content-tables{
		padding-top: 0px !important;
	}
	




  }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

	/* Guest */
	.guest-left{
		display: none!important;
	}
	.brand-logo{
		display: flex;
	}
	.content-tables{
		padding-top: 380px;
	}

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
	.card-products {
		margin: 0 0px 20px 0px;
	}
	

}
